body{
    background-color: cadetblue;
}
.box-part{
    background-color: whitesmoke;
    padding:50px 30px;
    margin:30px 0px;
    
}
.fa{
    color:blue;
}
a{
    border-bottom: 1px solid blue;
}
P{
    font-size:12px:
}
.box-part1{
    background-color: whitesmoke;
    padding:50px 30px;
    margin:30px 0px;
    
}

.box-part2{
    background-color: whitesmoke;
    padding:50px 30px;
    margin:30px 0px;
   
}
.box-part3{
    background-color: whitesmoke;
    padding:50px 30px;
    margin:30px 0px;
   
}
.box-part4{
    background-color: whitesmoke;
    padding:50px 30px;
    margin:30px 0px;
   
}
.box-part5{
    background-color: whitesmoke;
    padding:50px 30px;
    margin:30px 0px;
   
}